In [1]:
import pandas as pd
import numpy as np
import pyecharts

In [2]:
print("pyecharts version : ", pyecharts.__version__)

pyecharts version :  1.6.2

In [3]:
data_path = 'patient_data_chan.csv'

In [4]:
data = pd.read_csv(data_path, engine='python')

In [5]:
data.head()

   date   ID degree hospital condition  sex     type  age country note
0  1/19  1.0     1차    인천의료원        퇴원    여  중국인 관광객  30대      중국  NaN
1  1/20  NaN    NaN      NaN       NaN  NaN      NaN  NaN     NaN  NaN
2  1/21  NaN    NaN      NaN       NaN  NaN      NaN  NaN     NaN  NaN
3  1/22  2.0     1차  국립중앙의료원        퇴원    남    우한 교민  50대      한국  NaN
4  1/23  NaN    NaN      NaN       NaN  NaN      NaN  NaN     NaN  NaN

In [6]:
data = data.fillna(value="")
data.head()

   date ID degree hospital condition sex     type  age country note
0  1/19  1     1차    인천의료원        퇴원   여  중국인 관광객  30대      중국
1  1/20
2  1/21
3  1/22  2     1차  국립중앙의료원        퇴원   남    우한 교민  50대      한국
4  1/23

In [7]:
#날짜별 추가 확진자 수(명)
data2 = data.groupby(['date', 'degree']).size()
print(data2)

date  degree
1/19  1차        1
1/20            1
1/21            1
1/22  1차        1
1/23            1
1/24            1
1/25  1차        1
1/26  1차        1
1/27            1
1/28            1
1/29            1
1/30  1차        2
      2차        1
1/31  1차        1
      2차        1
      3차        2
2/1   2차        1
2/2   1차        2
      3차        1
2/3   1차        1
2/4             1
2/5   1차        1
      2차        2
2/6   1차        2
      2차        2
      3차        1
2/7             1
2/8             1
2/9   1차        2
      2차        1
dtype: int64

In [8]:
data2 = data2.reset_index()
data2.head()

   date degree  0
0  1/19     1차  1
1  1/20         1
2  1/21         1
3  1/22     1차  1
4  1/23         1

In [9]:
data2.columns = ['date', 'degree', 'count']
data2

    date degree  count
0   1/19     1차      1
1   1/20             1
2   1/21             1
3   1/22     1차      1
4   1/23             1
5   1/24             1
6   1/25     1차      1
7   1/26     1차      1
8   1/27             1
9   1/28             1
10  1/29             1
11  1/30     1차      2
12  1/30     2차      1
13  1/31     1차      1
14  1/31     2차      1
15  1/31     3차      2
16   2/1     2차      1
17   2/2     1차      2
18   2/2     3차      1
19   2/3     1차      1
20   2/4             1
21   2/5     1차      1
22   2/5     2차      2
23   2/6     1차      2
24   2/6     2차      2
25   2/6     3차      1
26   2/7             1
27   2/8             1
28   2/9     1차      2
29   2/9     2차      1

In [10]:
#날짜별 확진자 수
from pyecharts import options as opts
from pyecharts.charts import Bar, Page
from pyecharts.commons.utils import JsCode
from pyecharts.faker import Collector, Faker
from pyecharts.globals import ThemeType

In [11]:
count1 = []
for x in range(data2.shape[0]):
    if data2.loc[x, 'degree'] == "1차":
        count1.append(data2.loc[x,'count'] * 1)
    else: count1.append(data2.loc[x,'count'] * 0)
data2['count_1'] = list(count1)

In [12]:
count2 = []
for x in range(data2.shape[0]):
    if data2.loc[x, 'degree'] == "2차":
        count2.append(data2.loc[x,'count'] * 1)
    else: count2.append(data2.loc[x,'count'] * 0)
data2['count_2'] = list(count2)

In [13]:
count3 = []
for x in range(data2.shape[0]):
    if data2.loc[x, 'degree'] == "3차":
        count3.append(data2.loc[x,'count'] * 1)
    else: count3.append(data2.loc[x,'count'] * 0)
data2['count_3'] = list(count3)

In [14]:
print(data2)

    date degree  count  count_1  count_2  count_3
0   1/19     1차      1        1        0        0
1   1/20             1        0        0        0
2   1/21             1        0        0        0
3   1/22     1차      1        1        0        0
4   1/23             1        0        0        0
5   1/24             1        0        0        0
6   1/25     1차      1        1        0        0
7   1/26     1차      1        1        0        0
8   1/27             1        0        0        0
9   1/28             1        0        0        0
10  1/29             1        0        0        0
11  1/30     1차      2        2        0        0
12  1/30     2차      1        0        1        0
13  1/31     1차      1        1        0        0
14  1/31     2차      1        0        1        0
15  1/31     3차      2        0        0        2
16   2/1     2차      1        0        1        0
17   2/2     1차      2        2        0        0
18   2/2     3차      1        0        0        1
19   2/3     1차      1        1        0        0
20   2/4             1        0        0        0
21   2/5     1차      1        1        0        0
22   2/5     2차      2        0        2        0
23   2/6     1차      2        2        0        0
24   2/6     2차      2        0        2        0
25   2/6     3차      1        0        0        1
26   2/7             1        0        0        0
27   2/8             1        0        0        0
28   2/9     1차      2        2        0        0
29   2/9     2차      1        0        1        0

In [15]:
data_fin = data2.groupby('date').apply(max, axis=0)
data_fin = data_fin.drop(['date', 'degree', 'count'], axis=1)
print(data_fin)

      count_1  count_2  count_3
date
1/19        1        0        0
1/20        0        0        0
1/21        0        0        0
1/22        1        0        0
1/23        0        0        0
1/24        0        0        0
1/25        1        0        0
1/26        1        0        0
1/27        0        0        0
1/28        0        0        0
1/29        0        0        0
1/30        2        1        0
1/31        1        1        2
2/1         0        1        0
2/2         2        0        1
2/3         1        0        0
2/4         0        0        0
2/5         1        2        0
2/6         2        2        1
2/7         0        0        0
2/8         0        0        0
2/9         2        1        0

In [16]:
def bar_stack0() -> Bar:
    date_patient = (
    Bar()
    .add_xaxis(list(data_fin.index))
    .add_yaxis(
        "1차", list(data_fin['count_1']), stack="stack1")
    .add_yaxis(
        "2차", list(data_fin['count_2']), stack="stack1")
    .add_yaxis(
        "3차", list(data_fin['count_3']), stack="stack1")
    .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
        .set_global_opts(title_opts=opts.TitleOpts(title=""))
    )
    return date_patient

In [17]:
bar_stack0().render()

'C:\\Users\\user\\Desktop\\JHgit\\KUBIG_corocoro\\python_code\\render.html'

In [18]:
bar_stack0().render_notebook()